@import url('../Fonts/Henny+Penny.css');
@import url('../Fonts/Roboto+Slab.css');
@import url('../Font/Merriweather');

*
{
    user-select: none;
}
/*                     NAV SECTION                       */

/* FONT */
.nav-link
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 18px;
}
.navbar-brand {
    color: #757575d5;
}
.navbar-brand:hover {
    color: #000;
    transition: 0.4s ease-in-out;
}
.navbar-brand
{  
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.nav-bar
{
    box-shadow: 2px 12px 20px -9px rgba(0,0,0,0.2);
    background-color: #f4f5f6;
    z-index: 1000;
}

/* Boxes */
.profit
{
    width: 100%;
    padding-top: 40px;
}
h1
{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: dodgerblue;
    
}
hr{
    border: 2px;
}
.pt-md
{
    padding-top: 70px!important;
}
.chart
{
    border: 2px solid transparent;
    margin-top: 50px;
    border-radius: 6px;
    box-shadow:2px 2px 15px 2px rgba(0,0,0,0.2);
}
.form-control:focus, a:focus
{
    outline: none!important;
    box-shadow: none;
}
.form-control
{
    width: auto;
    margin-top: 15%;
}
.text-header
{
    display: flex;
}
#backButton {
    border-radius: 4px;
    border: none;
    font-size: 16px;
    background-color: #838383;
    color: white;
    cursor: pointer;
}