{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
</head>

<body>
</div>
<div class="text-header  px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Table List</h1>
    <hr>
  </div>
    <div class="container">
        <div class="row">
            {% for table in tables %}
                {% if table.is_free %}
                    <div class="col-lg-3">
                        <div class="card new-order">
                            <div class="card-body shadow-empty">
                                <h5 class="card-title text-center">TABLE {{table.table_no}}</h5>
                                <h1 class="card-title text-center">{{table.fill}} / {{table.seat}}</h1>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="table_id" value="{{table.id}}">
                                    <button type="submit" name="new_order" class="btn btn-sm btn-primary bto text-center">New Order</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-3">
                        <div class="card have">
                            <div class="card-body shadow-fill">
                                <h5 class="card-title text-center">TABLE {{table.table_no}}</h5>
                                <h1 class="card-title text-center">{{table.fill}} / {{table.seat}}</h1>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="table_id" value="{{table.id}}">
                                    <input type="hidden" name="order_id" value="{{table.cur_ord}}">
                                    <button type="submit" name="edit" class="btn btn-warning btn-sm">Edit</button>
                                    <button type="submit" name="complete" class="btn btn-success btn-primary2 btn-sm">Complete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>